<header class="header" [ngClass]="{'editMode': editMode && user === undefined}">
    <div class="container" *ngIf="user">
        <div class="logo">
            <img src="{{user.avatar_url ? user.avatar_url : ''}}" alt="Imagem não encontrada">
        </div>
        <div class="options">
            <ul>
                <li><a href="#informations">informations</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="socialMedia">
            <a href="{{user.html_url ? user.html_url : ''}}" target="_blank" class="social fa fa-github"></a>
            <a href="https://www.linkedin.com/in/ryamsousa/" target="_blank" class="social fa fa-linkedin-square"></a>
            <a href="https://www.instagram.com/ryamsousa00/" target="_blank" class="social fa fa-instagram"></a>
        </div>
    </div>
  </header>
  